<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<p *ngIf='!user'>Loading...</p>
<div *ngIf='user'>
    <main class="single">
        <table class="table tabe-sm">
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    <input [(ngModel)]="user.username" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input [(ngModel)]="user.password" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input [(ngModel)]="user.firstName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input [(ngModel)]="user.lastName" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Phone Number:
                </td>
                <td>
                    <input [(ngModel)]="user.phoneNumber" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    E-Mail:
                </td>
                <td>
                    <input [(ngModel)]="user.email" class="rounded" type="text">
                </td>
            </tr>
            <tr *ngIf='isAdmin==true'>
                <td>
                    isReviewer:
                </td>
                <td>
                    <input [(ngModel)]='user.isReviewer' name = 'reviewer' type="checkbox" id="Reviewer">
                </td>
            </tr>
            <tr *ngIf='isAdmin==true'>
                <td>
                    isAdmin:
                </td>
                <td>
                    <input [(ngModel)]='user.isAdmin' name = 'admin' type="checkbox" id="Admin">
                </td>
            </tr>
            <span><button (click)="update()" class="btn btn-sm btn-primary">Update</button></span>
            |
            <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>
        </table>
    </main>
</div>