<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
    </div>
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
    </tr>
</table>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>Lines </span>
        <span><a routerLink='/lineitem/create/{{request.id}}'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<table class='table'>
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
    </tr>
    <p *ngIf='lineItems.length==0'>No Line Items yet. Please create a new one!</p>
    <tr *ngFor="let li of lineItems">
        <td>{{li.id}}</td>
        <td>{{li.product.name}}</td>
        <td>{{li.quantity}}</td>
        <td>{{li.product.price | currency}}</td>
        <td>{{li.total | currency}}</td>
    </tr>
</table>
<span><button (click)="approve()" class="btn btn-sm btn-primary">Approve</button></span>
<span> | <button (click)="reject()" class="btn btn-sm btn-danger">Reject</button></span>
<br>
<td>
    Reason for Rejection:
</td><br>
<td>
    <textarea maxlength="100" [(ngModel)]="request.reasonForRejection" class="rounded" type="text" id="rejection"></textarea>
</td>